/*
** file: css/main.css
** description: custom styling for "html/main.html" file
*/

div#main-outer {
    width: 300px;
    margin: 5px;
    background: #DDD;
    border-radius: 5px;
}

div#main-counter {
    position: relative;
    top: 21px;
    left: 2px;
    font-size: 46px;
}

div#main-count-wrapper {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    height: 64px;
    width: 64px;
    left: 40%;
    top: 17%;
    border-radius: 50%;
    background-color: white;
}

div#main-inner {
    padding: 8px;
}

div#main-title {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

div#main-button-wrapper {
    margin-top: 7px;
    text-align: center;
}

img#main-image {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

div#main-about-text {
    margin-top: 10px;
    text-align: center;
}